Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/kevin_test_002.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/kevin_test_002_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/kevin_test_003.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/kevin_test_003_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 140C DR50.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 140C DR50.xlsx
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 140C DR50_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 150C DR50.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 150C DR50.xlsx
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 150C DR50_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 160C DR50 Feed Rate Testing.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 160C DR50 Feed Rate Testing_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 170C DR50.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 170C DR50.xlsx
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG 170C DR50_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG001.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETG001_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETGkevin_shima_test_001.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETGkevin_shima_test_001_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETGTraining.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/PETGTraining_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/shape_memory_test_002.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/shape_memory_test_002_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/shape_memory_test_003.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/shape_memory_test_003_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/shape_memoryshape_memory_hex_001.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/shape_memoryshape_memory_hex_001_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/shape_memoryslow_7_channel_001.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/shape_memoryslow_7_channel_001_metadata.json
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/test.csv
Thermal Draw Trials/ThesisExperiments/experiment_logs - Copy/test_metadata.json
